@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  background: #fefdfe;
  text-align: center;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  padding-top: 3rem;
  /* width: 486px; */
  /* display: inline-block; */
}

.Result {
  background: #1d1a82;
  text-align: center;
  font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
  padding-top: 3rem;
  height: 100%;
  /* width: 486px; */
  /* display: inline-block; */
}

.Header {
  background: #fefdfe;
  width: 100%;
  display: flex;
  color: #1d1a82;
  padding: 20px;
  font-family: 'DungGeunMo';
  -webkit-text-stroke: 0.35px;
  /* font-weight: 700; */
  font-size: 20px;
  box-shadow: 0px 0px 4px #DEDEDE;
  position: fixed;
  top:0;
}

.page {
  font-family: 'DungGeunMo';
  /* font-weight: 900; */
  color: coral;
  font-size: 1.5rem;
}

.question {
  /* color: #1d1a82; */
  font-family: 'DungGeunMo';
  padding-bottom: 2rem;
  /* max-width: 640px; */
  /* text-align: center; */
}

.next {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #333333;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5rem;
}

.next:hover {
  background-color: coral;
  color: #fefdfe;
}

.disabled-link {
  pointer-events: none;
}

.link {
  pointer-events: all;
}

.dis_next {
  border-radius: 8px;
  border-width: 0;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 5rem;
  background-color: #a4a4a4;
  color: #c6c6c6;
}

.small-text {
  font-weight: 500;
  font-size: 0.8rem;
  color: #9E9E9E;
}

.sel-button {
  border: 0 solid #e2e8f0;
  border-radius: 1rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 1.5rem;
  max-width: 360px;
  width: 24rem;
  text-align: center;
  text-decoration: none #0d172a solid;
  text-decoration-thickness: auto;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 2rem;
}

.sel-button:hover {
  font-weight: 700;
  color: #1d1a82;
}

.ell-body{
  width: 80%;
  display: inline-flex;
  flex-flow: wrap;
  /* padding-left: 60px;
  padding-right: 60px; */
  justify-content: center;
  max-width: 768px;
}

.ell-comp{
  background-color: #e2e8f0;
  border: 0 solid #e2e8f0;
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: #0d172a;
  cursor: pointer;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 600;
  line-height: 1;
  padding: 2rem;
  width: 160px;
  text-align: center;
  transition: all .1s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 1.5rem;
}

.ell-comp:hover {
  font-weight: 700;
  color: #1d1a82;
}

.Quest {
  display: inline-block;
  width: 40%;
  padding: 0.5rem 2.5rem;
  padding-bottom: 1rem;
  border-radius: 2rem;
  background-color: #fefdfe;
  border: solid 2px #bdbdbd;
  font-family: 'DungGeunMo';
  text-align: left;
}

.Column {
  width: 50%;
}

/* @media (min-width: 768px) {
  .sel-button {
    font-size: 1.125rem;
    padding: 1rem 2rem;
  }
} */