@font-face {
  font-family: 'DungGeunMo';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.2/DungGeunMo.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/* screen sise >= 540 => 1rme : 16px */
/* screen sise <= 540 => 1rme : 14px */

:root {
  --yellow000: #FFB950;
  --navy000: #1D1A82;
  --navy100: #0d172a;
  --white000: #FEFDFE;
  --gray000: #f4f3f4;
  --gray100: #e0e0e0;
  --gray200: #9e9e9e;
  --gray900: #1B1B33;
}

body{
  width: 540px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  white-space: pre-line;
}

.App {
  background: var(--white000);
  width: 540px;
  height: 100vh;
}

.Start{
  background-color: var(--navy100);
  color: var(--white000);
  text-align: center;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-top: 4rem;
  padding-bottom: 5rem;
  height: 100vh;
}

.Intro {
  width: 16rem;
  height: 24rem;
  margin: auto;
  text-align: center;
  display: inline-flex;
}

.Typo {
  margin: auto;
  font-family:'DungGeunMo';
  font-size: 3.5rem;
  line-height: 5rem;
  color: var(--white000);
  text-shadow: 2px 2px var(--gray200),
  4px 4px var(--yellow000);
}

.Content{
  text-align: center;
  height: 100vh;
  box-sizing: border-box;
  font-family: Arial,sans-serif;
  /* margin: 4rem auto; */
  padding-top: 3rem;
}

.Header {
  background: var(--white000);
  text-align: center;
  /* width: 100%; */
  width: 540px;
  box-sizing: border-box;
  /* display: flex; */
  color: var(--navy000);
  padding: 1rem;
  font-family: 'DungGeunMo';
  /* -webkit-text-stroke: 0.35px; */
  font-weight: 700;
  font-size: 1rem; 
  box-shadow: 0px 0px 4px #DEDEDE;
  position: fixed;
  top:0;
  z-index: 3;
}

.page {
  font-family: 'DungGeunMo';
  /* font-weight: 900; */
  color: var(--yellow000);
  font-size: 1.5rem;
}

.question {
  /* color: #1d1a82; */
  font-family: 'DungGeunMo';
  padding-bottom: 1rem;
  line-height: 40px;
  /* max-width: 640px; */
  /* text-align: center; */
}

.balance {
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 2rem;
  width: 18rem;
  padding: 0.5rem 1.5rem;
  border: solid 2px var(--yellow000);
  border-radius: 10px;
  text-align: left;
}

.next {
  background-color: var(--gray000);
  border-radius: 8px;
  border-width: 0;
  color: var(--gray900);
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  line-height: 20px;
  list-style: none;
  margin: 1rem;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-family: 'DungGeunMo';
}

.next:hover {
  background-color: var(--yellow000);
  color: var(--white000);
}

.next:disabled {
  background-color: var(--gray100);
  color: var(--white000);
}

.link {
  pointer-events: all;
}

.small-text {
  font-weight: 500;
  font-size: 0.8rem;
  color: var(--gray200);
}

.sel-button {
  border: 0 solid var(--gray100);
  border-radius: 1rem;
  box-sizing: border-box;
  color: var(--gray900);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  padding: 1.2rem;
  max-width: 360px;
  width: 24rem;
  text-align: center;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-bottom: 0.8rem;
}

.sel-button:hover {
  font-weight: 700;
  color: var(--navy000);
}

.ell-body{
  display: inline-flex;
  flex-flow: wrap;
  justify-content: center;
}

.ell-comp{
  border: 0 solid var(--gray100);
  border-radius: 1.5rem;
  box-sizing: border-box;
  color: var(--gray900);
  cursor: pointer;
  display: inline-block;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
  padding: 1.5rem;
  width: 8rem;
  text-align: center;
  transition: all .3s cubic-bezier(.4, 0, .2, 1);
  box-shadow: 0px 1px 2px rgba(166, 175, 195, 0.25);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin: 0.5rem;
}

.ell-comp:hover {
  font-weight: 700;
  color: var(--navy000);
}

.Result {
  background: var(--gray900);
  /* height: 100vh; */
  text-align: center;
  font-family:  Arial,sans-serif;
  padding-left: auto;
  padding-right: auto;
  padding-top: 2rem;
}

.Quest {
  width: 20rem;
  display: inline-block;
  position: relative;
  left: -2.5rem;
  top: 3rem;
  /* left: -30px;
  top: 40px; */
  z-index: 2;
  width:flex;
  padding: 0.5rem 1rem;
  line-height: 28px;
  border-radius: 1rem;
  background-color: var(--white000);
  border: solid 2px var(--gray100);
  /* font-family: 'DungGeunMo'; */
  text-align: left;
  box-sizing: border-box;
}

.TypeImage {
  display: inline-block;
  width: 300px;
  height: 300px;
  background-color: var(--gray200);
  left: 1.5rem;
  z-index: 1;
}

.Bag {
  width: 50%;
}
.Item {
  display: flex;
  margin: 0.5rem;
}

.Explain {
  background-color: var(--white000);
  text-align: left;
  margin: 2rem;
  padding: 2rem;
  border-radius: 0.8rem;
}

.CharInfo {
  display: flex;
}

.Table {
  width: 50%;
  border-right: solid 1px var(--gray100);
}

.Column {
  margin: 0 auto;
}

@media screen and (max-width: 540px){
  body{
    width: 100vw;
    font-size: 14px;
  }
  .App{
    width: 100vw;
  }
  .Header {
    width: 100vw;
  }
  .question {
    line-height: 32px;
  }
  .sel-button {
    box-sizing: border-box;
    width: 80vw;
    font-size: 0.9rem;
    margin-left: auto;
    margin-right: auto;
  }
  .ell-comp {
    font-size: 0.9rem;
    width: 100px;
  }
  .small-text {
    font-size: 0.75rem;
  }
  .Quest {
    left: -2rem;
    width: auto;
  }
  .TypeImage {
    width: 260px;
    height: 260px;
  }
  .Bag {
    margin: 1rem 2rem;
  }
}